.cabecalho {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.cabecalho img {
  width: 100%;
}
.cabecalho h1 {
  top: 10px;
  position: absolute;
  font-size: 80px;
  margin-top: auto;
}

.central {
  width: 100%;
  position: absolute;
  min-height: 600px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
