@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: Saira;
}

.centralizar {
  margin: 0 auto;
  max-width: 1200px;
}

.sessao {
  text-align: center;
  font-size: 5rem;
  color: white;
}
