nav {
  width: 100%;
  background-color: rgb(15, 15, 15);
  backdrop-filter: blur(10px);

  top: 0;
  z-index: 1;
  box-shadow: rgba(61, 61, 61, 0.25) 0px 4px 4px;
  color: white;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav li {
  padding: 2em 3em;
  border-radius: 20px;
  font-size: 17px;
}
nav li:hover {
  cursor: pointer;
  background-color: black;
}

.navlink {
  text-decoration: none;
  color: white;
}

.navlink:visited {
  color: white;
}
